.menubar{
    background-color: #2E3430;
    height: 50px;
    padding: 30px;
    padding-bottom: 10px;
    position: fixed;
    left: 0px;
    width: 100%;
}
a{
    color: white;
    text-align: center;
}
.msc
{
color: red;
}
.baslik{
    margin-top: 200px;
}
.container{
    text-align: center;
}
.urn{
    color: blue;
}
#gold{
    color: gold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.hakkımızdafont{
    text-align: center; margin-top: 100px; color: blueviolet; font-size: 44px;}
    .Ürünlerimiz{
        
        }
    